version: 2.1

orbs:
  node: circleci/node@4.7
  gke: circleci/gcp-gke@1.3.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:16.10
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test

workflows:
  sample:
    jobs:
      - build-and-test
      - gke/publish-and-rollout-image:
          cluster: lets-rsvp-server-prod
          container: lets-rsvp-server-image
          deployment: lets-rsvp-server-prod
          namespace: lets-rsvp-server-prod
          image: lets-rsvp-server-image
          tag: $CIRCLE_SHA1
          requires:
            - build-and-test
          filters:
            branches:
              only: master
